<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p><b>Questions:</b>
	<ul>
	<% @questions.each do |question| %>
		<li><%= link_to question.body, question %>
	<% end %>
	</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
